body {
  width: 350px;
  height:300px;
  /* height: 380px; */
  /* padding: 1em; */
  text-align: center;
  background: #F1F7ED;
  color: #293323;
}
.heading{
  
  clip-path: polygon(100% 0, 100% 75%, 75% 100%, 0% 75%, 0 0);
  background: #86B864;
}
.tab-content{
  padding: 20px;
}

.title{
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  padding-top: 24px;
  padding-bottom: 49px;
}

ul{
  list-style-type: none;
  text-align: left;
}
.mdl-grid{
  padding:0;
  text-align: left;
}
.edamam{
  position: absolute;
  bottom: 0;
  right:0; 
  width: 120px;
}

.res{
text-align: left;
}
.output {
  display: block;
}
.grid-container{
  display: grid;
  grid-gap: 50px;
}
.mdl-textfield .mdl-button {

right: 0%;
}

#search-output{
  display:none;
}