body {
  width: 320px;
  /* height: 380px; */
  /* padding: 1em; */
  text-align: center;
  background: #F1F7ED;
  color: #293323;
}
.heading{
  clip-path: polygon(100% 0, 100% 75%, 75% 100%, 0% 75%, 0 0);
  background: #86B864;
}
.title{
  margin: 0px;
  padding-top: 24px;
  padding-bottom: 49px;
}
.output{
text-align: left;
margin: 1px,20%;
}
ul{
  list-style-type: none;
  text-align: left;
}

.edamam{
float: right;
width: 100px;
}

.res{
text-align: left;
}
.output {
  display: block;
}
.mdl-textfield .mdl-button {

right: 0%;
}
